@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
} 

#header {
    display: flex; 
    font-size: 1.5em;
    background: #1f1f26;    
    padding: 24px 0; 
    flex-direction: row;
    justify-content: space-around;
    height: 80px;
}

.header-logo {
    color: #f8f8f8;
    
    
}

.header-logo:hover{
    color: aqua;
    cursor: pointer;
    transition: color 1s;
}

.nav {
    display: flex;
    gap: 25px;   
}

#btn-mobile {
    display: none;
}

#menu {
    align-items: center;
    display: flex;
    list-style: none;
    gap: 1em;
}

#menu a {
    display: block;
    padding: 0.5rem;
}

a {
    color: #f8f8f8;
    text-decoration: none;  
}

a:hover{
    cursor: pointer;
    color: aqua;
    transition: color 1s;
    
}

.conteudo {
    background: #202028 ;
    padding-top: 20px;
    height: calc(100vh - 80px - 70px);
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.conteudo-principal-titulo{
    padding-left: 200px;
}

.conteudo-titulo-frase {
    color: #f8f8f8;
    font-size: 1.5em;
    padding-bottom: 5px;
}

.conteudo-titulo-nome {
    color: #FF8C00	;
    font-family: 'Righteous', cursive;
    font-size: 3em;
}

.conteudo-foto{
    height: 400px;
    width: 600px;
    animation-name: slides;
    animation-duration: 4s ;
    transform: translateY(-30);
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

@keyframes slides {
    0% {
        transform: translate3d(0px, 0px, 0px);
      }
      100% {
        transform: translate3d(-30px, -50px, 0px);
      }
    }

.conteudo-secundario{
    display: flex;
    color: #f8f8f8;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.conteudo-secundario-titulo{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.conteudo-html {
    background: #17151b;
    margin-right: 40px;
    border-radius: 15px;
    padding: 20px;
    width: 7%;
    height: 7%;
}

.conteudo-css {
    background: #17151b;
    margin-right: 40px;
    border-radius: 15px;
    padding: 20px;
    width: 7%;
    height: 7%;   
}

.conteudo-javascript{
    background: #17151b;
    margin-right: 40px;
    border-radius: 15px;
    padding: 20px;
    width: 7%;
    height: 7%;
}

/*Footer*/

.footer {
    height: 70px;
    padding: 20px 0;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #1f1f26;
    color: #f8f8f8;
    
}

.footer-endriw{
    display: flex;
    flex-direction: column;
    color: #f8f8f8;
}

.contato-linkedin {
    width: 28px;  
}

.contato-github {
    width: 28px;
    margin: 0 10px;
}

.contato-instagram{
    width: 28px;
}

/*RESPONSIVIDADE*/

@media(max-width: 1250px) {
    .conteudo-html {
        width: 100px;
        height: 100px; 
        margin: 0 40px;
    }
    
    .conteudo-css {
        width: 100px;
        height: 100px; 
    }
    
    .conteudo-javascript {
        width: 100px;
        height: 100px; 
    }

    .conteudo-secundario-titulo {
        font-size: 25px;
    }
}

@media(max-width: 900px) {  
    .conteudo-foto {
    height: 350px;
    width: 400px;
   }
}

@media(max-width: 734px) {  
    .header-logo{
        font-size: 30px;
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        right: 0px;
        top: 70px;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
        font-size: 1.2em;
        background: #1f1f26;
        transition: .6s;
        text-align: center;
   }

   #nav.active #menu{
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
    }

    .conteudo-principal-titulo{
        padding-left: 150px;
    }

    .conteudo-foto {
        height: 300px;
        width: 350px;
    }

    .conteudo-secundario-titulo{
        margin-top: 80px;
    }



   #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
   }

   #btn-mobile{
        font-family: 'Roboto', sans-serif;
        display: flex;
        font-size: 30px;
        gap: .5rem;
        border: none;
        background: none;
        cursor: pointer;
        color: #f8f8f8;
   }

}

@media(max-width: 645px) {  
    .conteudo-principal-titulo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        margin-top: 30px;
    }
    
    .conteudo-foto{
        display: none;
    }

    .conteudo-titulo-nome{
        font-size: 2.5em;
    }   
}

@media(max-width: 500px) {
.conteudo-secundario-titulo{
    margin-top: 55px; 
}

.conteudo-html{
    width: 100px;
    height: 100px;
    margin-left: 40px ;   
}

.conteudo-css{
    width: 100px;
    height: 100px;
    margin-left: 40px;
}

.conteudo-javascript{
    width: 100px;
    height: 100px;
    margin-left: 40px;
    margin-top: 15px;
}
}

@media(max-width: 409px){
    .conteudo-html{
        margin-bottom: 15px;   
    }

    .footer-endriw{
        display: none;
    }
}